.comentarios{
    
    margin: 20px 0px;
    

}

.form_comentarios textarea{
    max-width: 500px;
    min-width: 300px;
    min-height: 180px;
    max-height: 200px;
    line-height: 30px;
    border: 2px solid #000000;
    margin-bottom: 10px;
}

.form_comentarios{
    padding: 10px;
}

.form_comentarios .btn {
    background: #4b65d1;
    border-radius: 0;
    color: #fff;
    margin-bottom: 40px;
}

.nombre{
    padding: 10px;
}

.form_comentarios .btn:hover {

    box-shadow: 0px 0px 9px rgba(0,0,0,.35);
}
